<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h3>Profesores</h3>
        <br/>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Patronus</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Imagen</th>
                </tr>
            </thead>
            <tbody *ngIf="_table != null">
                <tr *ngFor="let item of _table">
                    <td>
                        {{ item.name }}
                    </td>
                    <td>
                        {{ item.patronus }}
                    </td>
                    <td>
                        {{ item.yearOfBirth != "" ? (calcularEdad(item.yearOfBirth)):("") }}
                    </td>
                    <td class="imagen">
                        <img src="{{ item.image  }}" alt="sin imagen" class="img-thumbnail">
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>