<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                    <a type="button" class="btn btn-outline-primary" href="personajes">
                        Personajes
                    </a> &nbsp;
                    <a type="button" class="btn btn-outline-primary" href="estudiantes">
                        Estudiantes
                    </a>&nbsp;
                    <a type="button" class="btn btn-outline-primary" href="profesores">
                        Profesores
                    </a> &nbsp;
                    <a type="button" class="btn btn-outline-primary" href="ingresar_estudiantes">
                        Nuevos Estudiantes
                    </a>
                </form>
            </nav>
        </div>
    </div><br />
    <router-outlet></router-outlet>
</div>